#map-container { height: 400px; }

 .affix {
      top: 0;
      width: 80%;
  }

 header {
	 min-height: 200px;
	 background-image: url('../imgs/HeaderImage.jpg');
	 background-repeat: no-repeat;
	 background-position: center center;
	 background-size: cover;
 }

h2{
	text-align:center;
}

#images{
	padding: 10px;
	margin: 10px;
}
.body {
	background-color: #ADD8E6;
}

#ResturantsBtn {
	background-color: red;	
	color: yellow;
}

#BarsBtn{
	background-color: yellow;
	color: red;
}

#StoresBtn{
	background-color: green;
	color: orange;
}

#LandmkBtn{
	background-color: orange;
	color: green;
}

#mapItems ul li{
	list-style-type:none;
	display:inline;
	/*margin-bottom: 10px;*/
	/*padding-left: 900px;*/
}

.pageTitle {
	text-align:center;
	margin: 30px;	
}
  
.bodyContent {
	text-indent:50px;
	margin: 40px;
	background-color: white;
	padding: 20px;
}
